@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-prev, .swiper-button-next {
    background-color: white;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

.swiper-button-prev::after{
    content: url('./assets/icon-previous.svg');
    font-size: 0;
}

.swiper-button-next::after {
    content: url('./assets/icon-next.svg');
    font-size: 0;
}

@media (min-width: 1024px) {
    .swiper-button-prev, .swiper-button-next {
        display: none;
    }
}
